body{
    direction: ltr;
    font-family: main-font;
}
@font-face {
    font-family: main-font ;
    src: url(fonts/Shabnam.woff);
    src: url(fonts/Shabnam.woff2);
}
.table{
    direction: rtl;
    line-height: 60px;
    background-color: transparent;
    border-color: #FEFBE7;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
/*form-control focus*/
.form-control input{
    transition: 0.5s;
    box-sizing: border-box;
    outline: none;

}
.form-control{
    transition: 0.5s;
    box-sizing: border-box;
}
.form-control:focus {
    border:1px solid  #ADC2A9;
    box-shadow: none !important;
} 
.form-select:focus{
    border-color: #ADC2A9;
    /* box-shadow: 0 0 0 0.2rem #D3E4CD; */
    box-shadow: none;
}
/*buttons focus*/
.btn:focus{
box-shadow: none !important;
opacity: 0.8;
}
/*ng validate form*/
.invalid {
   color: rgb(160, 31, 31);
 }

.btn-add{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
 .paginate{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    background-color: #A0BCC2; 
    line-height: 25px;
    transition: all .5s;
 }

.paginate ul{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
 .paginate li{
  padding: 10px 20px;
  margin: auto;
  border-left: 1px solid #FEFBE7;
  border-right: 1px solid #FEFBE7;
  transition: all .5s;
 }
 .paginate li:hover{
   opacity: 0.5;
   background-color: aliceblue;
 }
 .paginate li:hover a{
    color: black !important;
 }
.ng-scope .active{
    background-color: #DAE5D0 !important;
    border-color: #DAE5D0 !important ;
}
 :placeholder-shown{
     opacity: 0.5;
 }

 .paginate a{
    text-decoration: none;  
    color: #fff !important; 
    justify-content: space-between;
   
} 
