body{
    direction: ltr;
    font-family: main-font;
}
@font-face {
    font-family: main-font ;
    src: url(fonts/Shabnam.woff);
    src: url(fonts/Shabnam.woff2);
}
.table{
    direction: rtl;
    line-height: 60px;
    background-color: transparent;
    border-color: #FEFBE7;
    /* font-size: 10px; */
}
 .paginate{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    background-color: #A0BCC2; 
   
   
 }
/* .paginate ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;  */
    /* justify-content: space-around; */
    /* align-items: stretch; */

   
 /* }
.paginate ul li{
    border-left: 1px solid grey;
}
.ng-binding{
text-decoration: none;
} */
 .paginate a{
    text-decoration: none;  
    color: #fff !important; 
    justify-content: space-between;
   
} 
.table th,td{
  max-width: 100px !important;
}