body{
    direction: ltr;
    font-family: main-font;
}
@font-face {
    font-family: main-font ;
    src: url(fonts/Shabnam.woff);
    src: url(fonts/Shabnam.woff2);
}
.table{
    direction: rtl;
    line-height: 60px;
    background-color: transparent;
    border-color: #FEFBE7;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.btn-add{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
 .paginate{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    background-color: #A0BCC2; 
    line-height: 25px;
    transition: all .5s;
 
 }

.paginate ul{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
 .paginate li{
  padding: 10px 20px;
  margin: auto;
  border-left: 1px solid #FEFBE7;
  border-right: 1px solid #FEFBE7;
  transition: all .5s;
 }
 .paginate li:hover{
   opacity: 0.5;
   background-color: aliceblue;
 }
 .paginate li:hover a{
    color: black !important;
 }

 :placeholder-shown{
     opacity: 0.5;
 }

 .paginate a{
    text-decoration: none;  
    color: #fff !important; 
    justify-content: space-between;
   
} 
